{% extends 'forum/layout.html' %}
{% import 'forum/macros.html' as m %}

{% block title %}{{ thread.name }}{% endblock %}

{% block body %}
{{ m.breadcrumbs(board, thread) }}
<h1>{{ thread.name }}</h1>

<a href="{{ url_for('.create_post', slug=board.slug, id=thread.id) }}">New post</a>

{% for p in posts %}
<article class="post">
    <a href="{{ url_for('.user', id=p.author_id) }}">{{ p.author.email }}</a>
    {{ p.readable_date(p.created) }}
    {{ p.content|markdown }}
    {% if p.author_id == current_user.id %}<a href="{{ url_for('.edit_post', slug=board.slug, thread_id=thread.id, post_id=p.id) }}">[edit]</a>{% endif %}
</article>
{% endfor %}
{% endblock %}
